<div id="main">
  <div class="d-flex flex-row w-100 h-100vh">
    <aside class="d-flex flex-column w-30 h-100vh justify-content-between bg-primary-800 border-r-inset border-primary-700">
      <div class="d-flex justify-content-center my-5">
        <img class="logo-default" src="/assets/images/FichaMestra_Logo.svg" alt="FichaMestra" />
      </div>

      <div class="d-flex flex-column mt-4">
        <ng-container *ngFor="let link of menuOptions">
          <div class="d-flex justify-content-center my-2">
            <a
              class="standard-link my-2"
              [ngClass]="currentRoute.includes(link.router) ? 'text-primary-300' : 'text-primary-500'"
              (click)="routerNavigate(link.router)"
            >
              {{ link.label }}
            </a>
          </div>
        </ng-container>
      </div>

      <div class="d-flex justify-content-center my-4">
        <button mat-fab color="accent" [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu" yPosition="above">
          <button mat-menu-item (click)="logout()">
            Logout
          </button>
        </mat-menu>
      </div>
    </aside>

    <aside class="d-flex flex-column w-70 h-100vh" id="router-page">
      <router-outlet></router-outlet>
    </aside>
  </div>
</div>
