<div id="main">
  <div class="d-flex flex-row w-100 h-100vh">
    <aside class="d-flex flex-column w-30 h-100vh bg-primary-800 border-r-inset border-primary-600">
      <div class="d-flex justify-content-center my-5">
        <h1 class="text-primary-200">Ficha Mestra</h1>
      </div>

      <div class="d-flex flex-column mt-4">
        <ng-container *ngFor="let link of menuOptions">
          <div class="d-flex justify-content-center my-2">
            <button
              class="btn text-primary-300"
              [ngClass]="currentRoute === link.router ? '' : 'text-primary-500'"
              (click)="routerNavigate(link.router)"
            >
              {{ link.label }}
            </button>
          </div>
        </ng-container>

        <div class="d-flex justify-content-center my-2">
          <button
            class="btn text-primary-300 text-primary-500"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </aside>

    <aside class="d-flex flex-column w-70 h-100vh" id="router-page">
      <router-outlet></router-outlet>
    </aside>
  </div>
</div>
