$custom-primary: (
  50: #FAFAFA,
  100: #F4F4F5,
  200: #E4E4E7,
  300: #D4D4D8,
  400: #A1A1AA,
  500: #71717A,
  600: #52525B,
  700: #3F3F46,
  800: #27272A,
  900: #18181B,
  A100: #F4F4F5,
  A200: #E4E4E7,
  A400: #A1A1AA,
  A700: #3F3F46,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  ),
);

// $custom-secondary: (
//   50: #DCEBE8,
//   100: #AACDC4,
//   200: #76AE9F,
//   300: #478E7C,
//   400: #2A7965,
//   500: #166450,
//   600: #145946,
//   700: #104B3A,
//   800: #0C3C2E,
//   900: #072318,
//   A100: #AACDC4,
//   A200: #76AE9F,
//   A400: #2A7965,
//   A700: #104B3A,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: white,
//     400: white,
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//     A100: rgba(black, 0.87),
//     A200: rgba(black, 0.87),
//     A400: white,
//     A700: white,
//   ),
// );

$custom-secondary: (
  50: #F7FEE7,
  100: #ECFCCB,
  200: #D9F99D,
  300: #BEF264,
  400: #A3E635,
  500: #84CC16,
  600: #65A30D,
  700: #4D7C0F,
  800: #3F6212,
  900: #365314,
  A100: #ECFCCB,
  A200: #D9F99D,
  A400: #A3E635,
  A700: #4D7C0F,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

$custom-accent: (
  50: #FFF7ED,
  100: #FFEDD5,
  200: #FED7AA,
  300: #FDBA74,
  400: #FB923C,
  500: #F97316,
  600: #EA580C,
  700: #C2410C,
  800: #9A3412,
  900: #7C2D12,
  A100: #FFEDD5,
  A200: #FED7AA,
  A400: #FB923C,
  A700: #C2410C,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
)
