@if (isCreateCharacterModalVisible) {
  <app-new-character-modal
    (closeModal)="isCreateCharacterModalVisible = false"
  >
  </app-new-character-modal>
}

<div class="w-100 h-100vh p-4 bg-primary-900">
  <div class="h-4vh"></div>

  <section class="h-5vh">
    <h2 class="text-light">Personagens</h2>
  </section>

  <div class="d-flex justify-content-end w-100 px-3">
    <button
      class="btn"
      mat-fab
      color="accent"
      (click)="isCreateCharacterModalVisible = true"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <section class="d-flex h-80vh">

  </section>

  <!-- <section class="d-flex flex-column justify-content-between w-100 h-80vh p-2">
    <div class="d-flex flex-row h-40vh p-2">
      <div class="col-12 col-md-6 border rounded">Primeiro quadrante</div>
      <div class="col-12 col-md-6 border rounded">Segundo quadrante</div>
    </div>

    <div class="d-flex flex-row h-40vh p-2">
      <div class="col-12 col-md-6 border rounded">Terceiro quadrante</div>
      <div class="col-12 col-md-6 border rounded">Quarto quadrante</div>
    </div>
  </section> -->
</div>
