<div class="w-100 h-100vh p-4 bg-primary-900">
  <div class="h-5vh"></div>

  <section class="h-10vh">
    <h2 class="text-light">Bem-vindo, -nome_do_usuário-</h2>
  </section>

  <section class="d-flex flex-column justify-content-between w-100 h-80vh p-2">
    <div class="d-flex flex-row h-40vh p-2">
      <div class="col-12 col-md-6 border rounded">Primeiro quadrante</div>
      <div class="col-12 col-md-6 border rounded">Segundo quadrante</div>
    </div>

    <div class="d-flex flex-row h-40vh p-2">
      <div class="col-12 col-md-6 border rounded">Terceiro quadrante</div>
      <div class="col-12 col-md-6 border rounded">Quarto quadrante</div>
    </div>
  </section>
</div>
