<div class="w-100 h-100vh p-4 bg-primary-900">
  <section class="d-flex flex-column justify-content-center align-items-center h-100">
    <h2 class="text-light">Bem-vindo ao</h2>

    <div class="my-5">
      <img class="logo-default" src="/assets/images/FichaMestra_Logo.svg" alt="FichaMestra" />
    </div>

    <span class="text-light">
      Para acessar mais informações sobre esse projeto,
    </span>
    <a href="https://github.com/rrsouzza/Ficha_Mestra_frontend" target="_blank">
      Acesse o repositório no GitHub
    </a>
  </section>
</div>
