<div class="d-flex flex-row h-100vh">
  <section class="d-flex w-67vw bg-primary-900 h-100">
    <div class="w-100 p-5">
      <h1 class="m-2 text-secondary">Ficha Mestra</h1>
    </div>
  </section>

  <section class="d-flex flex-column align-items-center w-33vw bg-primary-800 h-100">
    <div class="h-10vh"></div>

    <div class="px-5 flex-column w-100">
      <div class="mb-4">
        <button mat-fab color="accent" (click)="onBackToLoginClick()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <form [formGroup]="newUserFormGroup" (submit)="handleCreateUserClick()">
        <mat-form-field
          appearance="outline"
          class="my-1 col-12"
        >
          <mat-label>Nome</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
          >
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="my-1 col-12"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
          >
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="my-1 col-12"
        >
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
          >
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="my-1 col-12"
        >
          <mat-label>Confirme a senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
          >
          <ng-container *ngIf="shouldDisplayPasswordError">
            <mat-error class="f-14">As senhas não são iguais!</mat-error>
          </ng-container>
        </mat-form-field>
      </form>

      <button
        mat-raised-button
        color="accent"
        class="text-uppercase w-100"
        [disabled]="!isFormValid"
        (click)="handleCreateUserClick()"
      >
        Salvar
      </button>
    </div>
  </section>
</div>
