<div class="d-flex justify-content-center p-0 m-0">
  @if (!isLoading) {
    <button
      class="w-100 p-0"
      [color]="color"
      [type]="type"
      mat-raised-button
      class="m-0 text-uppercase col-12"
      [disabled]="disabled"
      (click)="handleClick()"
    >
      <ng-content></ng-content>
    </button>
  } @else {
    <div class="w-100 d-flex justify-content-center py-2">
      <mat-progress-spinner
        [color]="color"
        mode="indeterminate"
        diameter="20"
      ></mat-progress-spinner>
    </div>
  }

</div>
