<app-modal
  [headerTitle]="'Criar personagem'"
  [width]="'60vw'"
  (click)="closeModal.emit()"
>
  <section class="box-limited p-4">
    <form class="row" [formGroup]="newCharacterFormGroup" autocomplete="off">
      <div class="mt-2 col-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Campo Número 1</mat-label>
          <input matInput type="text" [value]="currentCharacterData.nome" formControlName="name" />
        </mat-form-field>
      </div>

      <div class="mt-2 col-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Campo Número 2</mat-label>
          <input
            matInput
            type="text"
            [value]="currentCharacterData.raca"
            formControlName="age"
          />
        </mat-form-field>
      </div>
    </form>
  </section>
</app-modal>
