<app-modal
  [headerTitle]="'Criar personagem'"
  [width]="'60vw'"
  (closeModal)="closeModal.emit()"
>
  @if (currentPage === 1) {
    <section class="box-limited p-4">
      <form class="row" [formGroup]="newChar_1_FormGroup" autocomplete="off">

        <div class="mt-2 col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" [value]="currentCharacterData.nome" formControlName="nome" />
          </mat-form-field>
        </div>

        <div class="mt-2 col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Classe</mat-label>
            <mat-select formControlName="classe" [value]="currentCharacterData.classe">
              @for (class of characterClassesList; track class;) {
                <mat-option [value]="class">{{ class }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2 col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Raça</mat-label>
            <mat-select formControlName="raca" [value]="currentCharacterData.raca">
              @for (race of characterRacesList; track race;) {
                <mat-option [value]="race">{{ race }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2 col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Antecedente</mat-label>
            <mat-select formControlName="antecedente" [value]="currentCharacterData.antecedente">
              @for (prior of characterPriorsList; track prior;) {
                <mat-option [value]="prior">{{ prior }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2 col-12 col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nível</mat-label>
            <input matInput type="number" [value]="currentCharacterData.nivel" formControlName="nivel">
          </mat-form-field>
        </div>

        <!-- <div class="mt-2 col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Alinhamento</mat-label>
          </mat-form-field>
        </div> -->
      </form>
    </section>
  }

  @if (currentPage === 2) {

  }
</app-modal>
