.container {
  background-color: transparent;
  border: none;

  .avatar {
    overflow: hidden;
    border-radius: 50%;
    // border: 1.4px solid #f1f1f1f1;
    .item {
      display: flex;
      img {
        object-fit: cover;
        // background: #ccc;
        height: 100%;
        width: 100%;
      }
    }
  }

  .label {
    font-size: 14px;
    // font-weight: 300;
    color: #e1f4fa;
    height: 100%;
    display: flex;
    align-items: center;
  }

  :focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
}
